[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "libigl-glad"]
	path = glad
	url = https://github.com/libigl/libigl-glad.git
